[submodule "LIBERO"]
	path = LIBERO
	url = https://github.com/V373/dsrl-pi0-dobot-prog.git
	branch = libero-source
[submodule "openpi"]
	path = openpi
	url = https://github.com/V373/dsrl-pi0-dobot-prog.git
	branch = openpi-source
